body
{
    background-color:#f4ffb4;
    height: 100%;
    
}
.image-container 
{
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: 200px;
}

.top-left-image 
{
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    margin-top: 0px;
    animation: shakeAnimation 1s ease infinite;
}

.top-middle-image 
{
    width: 500px;
    height: 200px;
    margin: 0 auto;
    margin-top: 0px;
    padding: 0;
    animation: swing 2s ease-in-out infinite;
   
}

.top-right-image
{
    width: 260px;
    height: 220px;
    margin-top: 5px;
    margin-right: 0%; 

}

.bottom-image-container
{
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center /* Center horizontally */ 
  
}

.bottom-left-image 
{
    width: 150px;
    margin: 0;
    padding: 0; 
    animation: swing 1s ease-in-out infinite; /* Apply the swing animation */

}

.bottom-middle-image 
{
    width: 650px; 
    margin: 0 auto;
    padding: 0;
    animation: swing 1s ease-in-out infinite; /* Apply the swing animation */
    
}
.bottom-right-image 
{
    width: 100px; 
    margin: 0;
    padding: 0;
    animation: swing 1s ease-in-out infinite; /* Apply the swing animation */
    
}



/* Adding Swing animation to the bottom right image */
@keyframes swing 
{
    0%{
        transform: rotate(0deg);
      }
    25% {
        transform: rotate(3deg); /* Rotate 2 degrees at the quarter mark */
        }
    75% {
        transform: rotate(-3deg); /* Rotate -2 degrees at the three-quarter mark */
        }
    100% {
        transform: rotate(0deg);
         }
}


h1
{  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size:5rem; 
    text-align:center;  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: rgb(110, 4, 168);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(237, 182, 17);
    margin: 0%;
    padding: 0%;
}
/* Applying Animation to the game title */
.game-title 
{
    animation: titleAnimation 3s ease-out infinite;
}
@keyframes titleAnimation 
{
    0% 
    {
        transform: scale(1); /* Initial scale (100%) */
        opacity: 0.7; /* Start with 0 opacity */
    }
    100% 
    {
        transform: scale(0.8); /* Scale down to 80% */
        opacity: 1; /* End with full opacity */
    }
}

p
{  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size:2rem;  
    font-weight:900;  
    text-align:center;  
    margin-bottom: 0rem;;
    margin-top: 0rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: rgb(140, 9, 188);    
    align-self: center;
}

/* Centering the buttons using flex */
.buttons
{ 
    min-width: 30%;
    max-width: 60vh;
    /* min-height: 30vh; */
    max-height: 60vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center; 
    justify-content: center;  
    margin: auto;
    padding-left: 10px;
    
}
button
{  
    border:none;
    border-radius:50px;  
    margin:1rem;  
    padding:1rem;  
    cursor:pointer;   
    transition:all 0.3s ease-in-out;
    /* Animation for button styles */  
     animation: spin 2s linear ;
    
}
/* Adding Spin animation to the buttons */
@keyframes spin 
{  
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(360deg); }
}

button:hover
{  
    opacity: 0.7;  transform: scale(1.1);  
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}


/* Using an id selector # to target these specific elements to change their colour */ 

#rock{     background-color: rgb(255, 244, 33);   }
#paper{    background-color: rgb(255, 244, 33);   }
#scissors{ background-color: rgb(255, 244, 33);   }
#user-score{  color:#2196f3;}
#computer-score{  color:#ff0000;}


/* Style for the leaderboard position */

table{
    margin: auto;
}
.leaderboard 
{ 
    justify-content: center;
    align-content: center;
    border: 1px solid #f7e630;
    background-color: #562478;
    border-radius: 5px;
}

.leaderboard caption 
{
    font-weight: bold;
    font-size: 2rem;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #b731df;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(142, 5, 180);
}

.leaderboard th, .leaderboard td 
{
    padding: 3px 6px;
    text-align: center;
    color: #fbf705;
}

.footer
{
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    align-content: flex-end;
    position: relative;
    bottom: 0;
   
}


/* CSS to Hide both horizontal and vertical scrollbars */
body 
{
    -ms-overflow-style: none; /* Internet Explorer/Edge */
}
/* CSS to Hide scrollbars for Webkit-based browsers (e.g., Chrome, Safari) */
body::-webkit-scrollbar 
{
    width: 0.2rem; /* Adjust as needed */
}
body::-webkit-scrollbar-thumb 
{
    background-color: transparent; /* Hide the thumb */
}
/* Add styles to the scrollbar track if desired */
body::-webkit-scrollbar-track 
{
    background-color: transparent;
}




/* Media Query for All Images */
@media screen and (max-width: 768px) 
{
    /* Adjust common styles for all images for smaller screens */
    .top-left-image
    {
        width: 100px; /* Adjust as needed for smaller screens */
        height: 100px; /* Adjust as needed for smaller screens */
    }
    .top-middle-image,
    .top-right-image
    {
        width: 120px; /* Adjust as needed for smaller screens */
        height: 100px; /* Adjust as needed for smaller screens */
    }
    
    .bottom-middle-image
    {
        width: 200px; /* Adjust as needed for smaller screens */
        height: 100px; /* Adjust as needed for smaller screens */
    }
    .bottom-right-image
    {
        width: 50px; /* Adjust as needed for smaller screens */
        height: 90px; /* Adjust as needed for smaller screens */
        margin-right: 0;
    }
    .bottom-left-image
    {
        width: 80px; /* Adjust as needed for smaller screens */
        height: 80px; /* Adjust as needed for smaller screens */
        margin-left: 0;
    }
}


/* Media Query for .game-title, .buttons, and .leaderboard */
@media screen and (max-width: 768px) 
{
    .game-title {
        font-size: 2rem; /* Adjust as needed for smaller screens */
    }

}


@media screen and (max-width: 768px)
{

    
        .buttons {
            flex-direction: row; /* Stack buttons vertically */
            text-align: center; /* Center-align text within buttons */
            /* width: 100px;
            height: 100px; */
        }
    
        button {
            margin: 0.5rem; /* Reduce margin for spacing */
            width: 100px;
            height: 100px;

        }
       
    

}

@media screen and (max-width: 768px)
{   
    

    .mobile .leaderboard {
        top: 800px; /* Adjust positioning for smaller screens */
        
        
    }

    .leaderboard caption {
        font-size: 1.5rem; /* Adjust caption font size for smaller screens */
        justify-content: center;
        
    
    }

    .leaderboard th,
    .leaderboard td {
        padding: 2px 4px; /* Adjust cell padding for smaller screens */
        
        
        
    
    }
}
@media screen and (max-width: 768px)
{
    .footer 
    {
        display: flex;
        align-items: center; /* Center vertically */
        justify-content: center; /* Center horizontally */
        bottom: 0;

    }
}
